beautifulsoup4==4.10.0
Django==3.2.9
django-environ==0.8.1
environ==1.0
pip==21.3.1
pytz==2021.3
setuptools==58.5.3
sqlparse==0.4.2
google-api-core==2.2.2
google-auth==2.3.3
google-cloud-core==2.2.1
google-cloud-secret-manager==2.8.0
google-cloud-storage==1.42.3
google-resumable-media==2.1.0
mysqlclient==2.0.3
storage==0.0.4.3
urllib3==1.26.7
ratelimit~=2.2.1